@import url(http://fonts.googleapis.com/ccs?family=Monterserrat);
.Top-Bar
{
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 0;
    background: url(http://www.solidbackgrounds.com/images/1920x1080/1920x1080-black-solid-color-background.jpg);
}
h1
{
    color: white;
    font-family: "Monterserrat", Arial;
}
.Main
{
    text-align: center;
}
.footer-content
{
    clear: both;
    background: url(http://learncs8.com/images/section-sep.png)
    repeat-x left 25px;
    max-width: 400px;
    height: 20px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    display: block;
}
.footer-text
{
    text-shadow: 0 1px 0 #FFF;
    font-family: "Monterserrat", Arial;
    font-size: .75em;
    margin: 0 auto;
    clear: both;
}
h2
{
    color: black;
}


