h1
{
	text-align: center;
	font-size: 30px;
	font-family: "Monterserrat", Arial;
	color: white;
}
h2
{
	text-align: center;
	font-size: 30px;
	font-family: "Monterserrat", Arial;
	color: white;
}
h3
{
	text-align: center;
	font-size: 30px;
	font-family: "Monterserrat", Arial;
	color: white;
}
h4
{
	text-align: center;
	font-size: 30px;
	font-family: "Monterserrat", Arial;
	color: white;
}