@import url(https://fonts.googleapis.com/css?family=Comfortaa);
h1
{
	text-align: center;
	font-size: 30pt;
	font-family: "Comfortaa";
	color: white;
}
h2
{
	text-align: center;
	font-size: 30pt;
	font-family: "Comfortaa";
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3
{
	text-align: center;
	font-size: 12pt;
	font-family: "Comfortaa";
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*These are the files for the EE html*/
h4
{
	text-align: center;
	font-size: 30pt;
	font-family: "Comfortaa";
	color: black;
}
h5
{
	text-align: center;
	font-size: 12pt;
	font-family: "Comfortaa";
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h6
{
	text-align: center;
	font-size: 18pt;
	font-family: "Comfortaa";
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}
h7
{
	text-align: center;
	font-size: 12pt;
	font-family: "Comfortaa";
	color: black;	
}
.resizeButton
{
    width: 100px;
    height: 60px;
    font-family: "Comfortaa";
    font-size: 20pt;
}